<nav class="navbar navbar-expand-lg navbar-light">
  <%= link_to root_path do %>
    <%= image_tag("cropped-logo_eleva.png", size: "100x100", class: "img") %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
      </li>
    </ul>
    <%= link_to "Voltar", school_path(params["school_id"]), class: "btn btn-outline-primary" %>
  </div>
</nav>

<%= simple_form_for @group, url: school_groups_path(params["school_id"], @group) do |f| %>
  <%= f.input :name, label: false, placeholder: "Nome da turma" %>
  <%= f.button :submit, "Adicionar", class: "btn btn-outline-secondary" %>
<% end %>
