<header>
  <%= link_to root_path do %>
    <%= image_tag("cropped-logo_eleva.png", size: "100x100", class: "img") %>
  <% end %>
  <div>
    <%= link_to "Voltar", school_path(@school), class: "btn btn-outline-primary" %>
  </div>
</header>

<%= simple_form_for @school do |f| %>
  <%= f.input :name %>
  <%= f.input :address %>
  <%= f.input :city %>
  <%= f.button :submit %>
<% end %>
